<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="http://localhost:3000/css/styles.css">
    <title>Title</title>
</head>

<body class="bg-dark-700 p-6 font-old-standard">

    <main class="allcont">


        <div class="hero-container">



            <!-- 
                                    <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24">
                                        <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" /></svg>
     -->

            <nav>
                <div class="navbar">
                    <div class="nav-container">
                        <!-- <img src="/images/logo.png" class="brand" alt=""> -->

                        <ul class="menu-items">
                            <li class="inline-block menu-item"> <a href="/">KNOW ME</a></li>
                            <li class="inline-block menu-item"> <a href="/">SKILLS</a></li>
                            <li class="inline-block menu-item"> <a href="/">PROJECTS</a></li>
                        </ul>
                    </div>
                </div>

            </nav>

            <main class="hero">
                <div class="cool" id="cool">

                </div>
                <div>
                    <h1 class="main-title-hello"><span class="underline-start">Hel</span>lo!</h1>
                    <div class="subtitle">
                        <span class="main-title2">I'</span>
                        <span class="main-title2">M</span>
                        <span class="blink-7 skilled">&nbsp;</span>

                        <span class="main-title2">G</span>
                        <span class="main-title2">E</span>
                        <span class="main-title2">T</span>
                        <span class="main-title2">U</span>

                        <!-- <span class="main-title2">G</span>
                        <span class="main-title2">E</span>
                        <span class="main-title2">T</span>
                        <span class="main-title2">A</span> 
                        <span class="main-title2">B</span>
                        <span class="main-title2">A</span>
                        <span class="main-title2">L</span>
                        <span class="main-title2">E</span>
                        <span class="main-title2">W</span> -->

                    </div>
                    <div class="subtitle">
                        <span class="blink-1 skilled">T</span>
                        <span class="blink-2 skilled">a</span>
                        <span class="blink-3 skilled">l</span>
                        <span class="blink-4 skilled">e</span>
                        <span class="blink-5 skilled">n</span>
                        <span class="blink-5 skilled">t</span>
                        <span class="blink-6 skilled">e</span>
                        <span class="blink-7 skilled">d</span>
                        <span class="blink-7 skilled">&nbsp;</span>
                        <h3 class="developer"> Web Developer</h3>
                    </div>

                    <hr>

                    <!-- <div class="notbug">
                    <p class="quote">
                        <span class="quote">“</span>Intuitive design is how we give the user new superpowers.<span
                            class="quote">”</span>
                    </p>
                </div> -->
                </div>

            </main>

            <section id="about">
                <div class="about-me">
                    <h1 class="main-title-hello white"><span class="underline-start">Abo</span>out Me</h1>
                    <div>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ullam,
                            nesciunt deleniti impedit quam animi pariatur dolorem aut nobis vero
                            praesentium
                            accusamus. Cumque fugiat consectetur facere dolores sit reprehenderit nisi.
                        </p>
                    </div>
                </div>


            </section>
            <section id="about">
                <div class="about-me">
                    <h1 class="main-title-hello white"><span class="underline-start">Abo</span>out Me</h1>
                    <div>
                        <p class="description">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ullam,
                            nesciunt deleniti impedit quam animi pariatur dolorem aut nobis vero
                            praesentium
                            accusamus. Cumque fugiat consectetur facere dolores sit reprehenderit nisi.
                        </p>
                    </div>
                </div>


            </section>
            <section id="about">
                <div class="about-me">
                    <h1 class="main-title-hello white"><span class="underline-start">Abo</span>out Me</h1>
                    <div>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ullam,
                            nesciunt deleniti impedit quam animi pariatur dolorem aut nobis vero
                            praesentium
                            accusamus. Cumque fugiat consectetur facere dolores sit reprehenderit nisi.
                        </p>
                    </div>
                </div>


            </section>
            <section id="about">
                <div class="about-me">
                    <h1 class="main-title-hello white"><span class="underline-start">Abo</span>out Me</h1>
                    <div>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ullam,
                            nesciunt deleniti impedit quam animi pariatur dolorem aut nobis vero
                            praesentium
                            accusamus. Cumque fugiat consectetur facere dolores sit reprehenderit nisi.
                        </p>
                    </div>
                </div>


            </section>
            <section id="about">
                <div class="about-me">
                    <h1 class="main-title-hello white"><span class="underline-start">Abo</span>out Me</h1>
                    <div>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ullam,
                            nesciunt deleniti impedit quam animi pariatur dolorem aut nobis vero
                            praesentium
                            accusamus. Cumque fugiat consectetur facere dolores sit reprehenderit nisi.
                        </p>
                    </div>
                </div>


            </section>
            <section id="about">
                <div class="about-me">
                    <h1 class="main-title-hello white"><span class="underline-start">Abo</span>out Me</h1>
                    <div>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ullam,
                            nesciunt deleniti impedit quam animi pariatur dolorem aut nobis vero
                            praesentium
                            accusamus. Cumque fugiat consectetur facere dolores sit reprehenderit nisi.
                        </p>
                    </div>
                </div>


            </section>
            <section id="about">
                <div class="about-me">
                    <h1 class="main-title-hello white"><span class="underline-start">Abo</span>out Me</h1>
                    <div>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ullam,
                            nesciunt deleniti impedit quam animi pariatur dolorem aut nobis vero
                            praesentium
                            accusamus. Cumque fugiat consectetur facere dolores sit reprehenderit nisi.
                        </p>
                    </div>
                </div>


            </section>
            <section id="about">
                <div class="about-me">
                    <h1 class="main-title-hello white"><span class="underline-start">Abo</span>out Me</h1>
                    <div>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ullam,
                            nesciunt deleniti impedit quam animi pariatur dolorem aut nobis vero
                            praesentium
                            accusamus. Cumque fugiat consectetur facere dolores sit reprehenderit nisi.
                        </p>
                    </div>
                </div>


            </section>
            <section id="about">
                <div class="about-me">
                    <h1 class="main-title-hello white"><span class="underline-start">Abo</span>out Me</h1>
                    <div>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ullam,
                            nesciunt deleniti impedit quam animi pariatur dolorem aut nobis vero
                            praesentium
                            accusamus. Cumque fugiat consectetur facere dolores sit reprehenderit nisi.
                        </p>
                    </div>
                </div>


            </section>

        </div>
    </main>

    <script>
        var cool = document.getElementById("cool");
        cool.addEventListener('mousemove', (e) => {
            var x = e.offsetX;
            var y = e.offsetY;

            cool.style.left = x + "px";
            cool.style.top = y + "px";
        })
    </script>
</body>

</html>