<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- CSS only -->
    <link
      href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Great+Vibes&family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/styles.css" />

    <title><%= title %></title>
  </head>

  <body class="bg-dark-700 p-6 font-old-standard">
    <img
      src="https://www.pngmart.com/files/15/Red-Heart-Vector-PNG-Pic.png"
      class="cool"
      id="circle"
    />

    <main class="allcont">
      <div class="hero-container">
        <!-- 
                                    <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24">
                                        <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" /></svg>
     -->

        <nav>
          <div class="navbar">
            <div class="nav-container ms-auto">
              <!-- <img src="/images/logo.png" class="brand" alt=""> -->

              <ul class="menu-items">
                <li class="inline-block menu-item">
                  <a href="#about">ABOUT</a>
                </li>
                <li class="inline-block menu-item">
                  <a href="#skills">SKILLS</a>
                </li>
                <li class="inline-block menu-item">
                  <a href="#works">WORKS</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <main class="hero">
          <div>
            <h1 class="main-title-hello">
              <span class="underline-start">Hel</span>lo!
            </h1>
            <div class="subtitle">
              <span class="main-title2 b-1">I'</span>
              <span class="main-title2 b-2">M</span>
              <span class="blink-7 skilled b-3">&nbsp;</span>

              <span class="main-title2 b-4">G</span>
              <span class="main-title2 b-5">E</span>
              <span class="main-title2 b-6">T</span>
              <span class="main-title2 b-7">U</span>

              <!-- <span class="main-title2">G</span>
                        <span class="main-title2">E</span>
                        <span class="main-title2">T</span>
                        <span class="main-title2">A</span> 
                        <span class="main-title2">B</span>
                        <span class="main-title2">A</span>
                        <span class="main-title2">L</span>
                        <span class="main-title2">E</span>
                        <span class="main-title2">W</span> -->
            </div>
            <div class="subtitle">
              <span class="blink-1 skilled">T</span>
              <span class="blink-2 skilled">a</span>
              <span class="blink-3 skilled">l</span>
              <span class="blink-4 skilled">e</span>
              <span class="blink-5 skilled">n</span>
              <span class="blink-5 skilled">t</span>
              <span class="blink-6 skilled">e</span>
              <span class="blink-7 skilled">d</span>
              <span class="blink-7 skilled">&nbsp;</span>

              <span class="blink-1 skilled">W</span>
              <span class="blink-2 skilled">e</span>
              <span class="blink-3 skilled">b</span>
              <span class="blink-7 skilled">&nbsp;</span>
              <span class="blink-4 skilled">D</span>
              <span class="blink-5 skilled">e</span>
              <span class="blink-5 skilled">v</span>
              <span class="blink-6 skilled">e</span>
              <span class="blink-7 skilled">l</span>
              <span class="blink-7 skilled">o</span>
              <span class="blink-7 skilled">p</span>
              <span class="blink-7 skilled">e</span>
              <span class="blink-7 skilled">r</span>
              <span class="blink-7 skilled">&nbsp;</span>
              <!-- <h3 class="developer"> Web Developer</h3> -->
            </div>

            <hr />

            <!-- <div class="notbug">
                    <p class="quote">
                        <span class="quote">“</span>Intuitive design is how we give the user new superpowers.<span
                            class="quote">”</span>
                    </p>
                </div> -->
          </div>
        </main>

        <section class="sec" id="about">
          <div class="about-me">
            <h1 class="main-title-hello white thefont">
              <span class="underline-start">Abo</span>out Me
            </h1>
            <div class="mt10">
              <p class="article">My name is Getabalew Tesfaye.</p>
              <p class="article">I'm Front & Back end Developer Based in Ethiopia and willing to work remotely</p>

              <p class="article">
                I like to pay a lot of attention even for a little details and I don't pass a little mistake even if it is not causing a problem
              </p>
              <p class="article">
                I believe being Creative is a great gift that I have since i was a child
              </p>
              <p class="quote">
                “Talk is cheap. Show me the code.” – Linus Torvalds
              </p>
              <a href="#skills">
                <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
                <svg
                  viewBox="0 0 17 17"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  class="si-glyph si-glyph-arrow-down down"
                >
                  <!-- Generator: Sketch 3.0.3 (7891) - http://www.bohemiancoding.com/sketch -->
                  <title>1190</title>
                  <defs></defs>
                  <g
                    stroke="none"
                    stroke-width="1"
                    fill="none"
                    fill-rule="evenodd"
                  >
                    <path
                      d="M2.16,6.246 C2.385,6.246 2.61,6.308 2.81,6.442 L9.039,10.598 L15.076,6.401 C15.617,6.042 16.346,6.188 16.705,6.729 C17.065,7.268 16.92,8 16.38,8.359 L9.692,12.989 C9.298,13.253 8.784,13.254 8.388,12.991 L1.508,8.402 C0.966,8.042 0.82,7.31 1.179,6.77 C1.407,6.429 1.78,6.246 2.16,6.246 L2.16,6.246 Z"
                      fill="#434343"
                      class="si-glyph-fill"
                    ></path>
                  </g>
                </svg>
              </a>
            </div>
          </div>
        </section>
        <section class="sec" id="skills">
          <div class="about-me">
            <h1 class="main-title-hello white thefont">
              <span class="underline-start">Ski</span>lls
            </h1>
            <div class="mt10" id="cont1">
              <hr />
              <p class="quote"></p>
              <div class="inline-block mt10">
                <img src="/images/js.png" class="showcase-pic" alt="" />
                <p>JavaScript</p>
              </div>
              <hr />

              <!-- <hr> -->
              <!-- <div class="progress">
                        </div>
                        <div class="pAmount" id="html">
                        </div> -->

              <div></div>
              <div class="inline-block mt10">
                <img src="/images/html.png" class="showcase-pic" alt="" />
                <p>HTML</p>
              </div>
              <!-- <hr> -->
              <!-- <div class="progress">
                        </div>
                        <div class="pAmount" id="css">
                        </div> -->

              <!-- <div></div> -->
              <div class="inline-block mt10">
                <img src="/images/css.png" class="showcase-pic" alt="" />
                <p>CSS</p>
              </div>

              <hr />
              <p class="quotes"></p>
              <div class="inline-block mt10">
                <img src="/images/nodejs.png" class="showcase-pic" alt="" />
              </div>

              <!-- <div class="progress">
                        </div>
                        <div class="pAmount" id="nodejs">
                        </div>
                        <div></div>
                        <hr> -->

              <div class="inline-block mt10">
                <img src="/images/react.png" class="showcase-pic" alt="" />
              </div>
              <hr />
              <!-- <div class="progress">
                        </div>
                        <div class="pAmount" id="reactjs">
                        </div>-->
              <div></div>

              <a href="#works">
                <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
                <svg
                  viewBox="0 0 17 17"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  class="si-glyph si-glyph-arrow-down down"
                >
                  <!-- Generator: Sketch 3.0.3 (7891) - http://www.bohemiancoding.com/sketch -->
                  <title>1190</title>
                  <defs></defs>
                  <g
                    stroke="none"
                    stroke-width="1"
                    fill="none"
                    fill-rule="evenodd"
                  >
                    <path
                      d="M2.16,6.246 C2.385,6.246 2.61,6.308 2.81,6.442 L9.039,10.598 L15.076,6.401 C15.617,6.042 16.346,6.188 16.705,6.729 C17.065,7.268 16.92,8 16.38,8.359 L9.692,12.989 C9.298,13.253 8.784,13.254 8.388,12.991 L1.508,8.402 C0.966,8.042 0.82,7.31 1.179,6.77 C1.407,6.429 1.78,6.246 2.16,6.246 L2.16,6.246 Z"
                      fill="#434343"
                      class="si-glyph-fill"
                    ></path>
                  </g>
                </svg>
              </a>
            </div>
          </div>
        </section>

        <section class="sec" id="works">
          <div class="about-me">
            <h1 class="main-title-hello white thefont">
              <span class="underline-start">Wor</span>ks
            </h1>
            <div class="mt10" id="cont1">
              <hr />
              <p class="quote"></p>

              <div class="mt-2 me-0 ms-0">
                <div class="project row col-md-12 p-2 rounded">
                  <div class="col-md-5">
                    <p>GetMeFood - Amazing Recipes Website</p>
                    <img
                      src="https://i.imgur.com/Cj5r272.png"
                      class="rounded preview-pic"
                      alt=""
                    />
                  </div>
                  <div class="col-md-5">
                    <div>
                        <img
                          src="/images/react-dark.png"
                          class="rounded-full showcase-pic"
                          alt=""
                        />
                      </div>
                    <br />
                    <a href="https://getmefood.netlify.app" target="_blank" class="mt-5 btn btn-warning">Live Demo</a>
                  </div>
                </div>
              </div>

              <div class="mt-2 me-0 ms-0">
                <div class="project row col-md-12 p-2 rounded">
                  <div class="col-md-5">
                    <p>iAmCoder - Chat Website</p>
                    <img
                      src="https://i.imgur.com/qD0s89Q.png"
                      class="rounded preview-pic"
                      alt=""
                    />
                  </div>
                  <div class="col-md-5">
                    <div>
                        <img
                          src="/images/react-dark.png"
                          class="rounded-full showcase-pic"
                          alt=""
                        />
                        <img
                          src="/images/node-dark.png"
                          class="showcase-pic"
                          alt=""
                        />
                        <img
                          src="/images/mongodb-logo.png"
                          class="showcase-pic"
                          alt=""
                        />
                      </div>
                    <br />
                    <a href="https://iamcoder.xyz" target="_blank" class="mt-5 btn btn-outline-warning">Live Demo</a>
                  </div>
                </div>
              </div>

              <div class="mt-2 me-0 ms-0">
                <div class="project row col-md-12 p-2 rounded">
                  <div class="col-md-5">
                    <p>MyAnalog - Realtime Clock App</p>
                    <img
                      src="https://i.imgur.com/9Iye7sa.png"
                      class="rounded preview-pic"
                      alt=""
                    />
                  </div>
                  <div class="col-md-5">
                    <div>
                      <img
                        src="/images/react-dark.png"
                        class="rounded-full showcase-pic"
                        alt=""
                      />

                    </div>

                    <br />
                    <a href="https://myanalog.netlify.app" target="_blank" class="mt-5 btn btn-outline-dark">Live Demo</a>
                  </div>
                </div>
              </div>
              



              <hr />

              <!-- <hr> -->
              <!-- <div class="progress">
                        </div>
                        <div class="pAmount" id="html">
                        </div> -->

              <!-- <div class="progress">
                        </div>
                        <div class="pAmount" id="nodejs">
                        </div>
                        <div></div>
                        <hr> -->

              <hr />
              <!-- <div class="progress">
                        </div>
                        <div class="pAmount" id="reactjs">
                        </div>-->
              <div></div>

              <a href="#contact">
                <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
                <svg
                  viewBox="0 0 17 17"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  class="si-glyph si-glyph-arrow-down down"
                >
                  <!-- Generator: Sketch 3.0.3 (7891) - http://www.bohemiancoding.com/sketch -->
                  <title>1190</title>
                  <defs></defs>
                  <g
                    stroke="none"
                    stroke-width="1"
                    fill="none"
                    fill-rule="evenodd"
                  >
                    <path
                      d="M2.16,6.246 C2.385,6.246 2.61,6.308 2.81,6.442 L9.039,10.598 L15.076,6.401 C15.617,6.042 16.346,6.188 16.705,6.729 C17.065,7.268 16.92,8 16.38,8.359 L9.692,12.989 C9.298,13.253 8.784,13.254 8.388,12.991 L1.508,8.402 C0.966,8.042 0.82,7.31 1.179,6.77 C1.407,6.429 1.78,6.246 2.16,6.246 L2.16,6.246 Z"
                      fill="#434343"
                      class="si-glyph-fill"
                    ></path>
                  </g>
                </svg>
              </a>
            </div>
          </div>
        </section>

        <section class="sec" id="contact">
          <div class="about-me">
            <h1 class="main-title-hello white thefont">
              <span class="underline-start">Cont</span>act
            </h1>
            <div class="mt10" id="cont1">
              <!-- <form action="/" method="post" class="inline-block">
                            <input type="email" placeholder="Email" name="email" class="email-box" id="email">
                            <div></div>
                            <input type="text" placeholder="Subject" name="subject" class="subject-box" id="subject">
                            <div></div>
                                                        <input type="text" placeholder="Full Name" name="name"
                                                            class="subject-box" id="fullName">
                                                        <div></div>
                            <textarea name="message" placeholder="Message" id="message" cols="30" rows="10"
                                class="message-box"></textarea>
                            <div></div>
                            <button type="submit" class="send">SEND</button>
                        </form> -->
              <div class="contacts inline-block">
                <p class="article">getuyegeta77@gmail.com</p>
                <p class="article">+251979677435</p>
                <p class="article">@getuyegeta</p>
              </div>
            </div>
          </div>
        </section>

        <section class="sec" id="footer">
          <div class="about-me">
            <h1 class="main-title-hello white thefont">
              <span class="underline-start">Console.log("Thank You");</span>
            </h1>
            <div class="mt10" id="cont1">
              <p class="last">
                You came this far. and i really hope you knew everything about
                me that you wanted. if you want to know more please don't
                hesitate to contact me.
              </p>
            </div>
          </div>
        </section>
      </div>
    </main>

    <script src="/js/funs.js"></script>
  </body>
</html>
