html {
  cursor: url(/images/cursor2.png),
    auto;
  scroll-behavior: smooth;
}

@font-face {
  font-family: myFutura;
  src: url('/fonts/futur.ttf');
}

body {
  font-family: 'Josefin Sans',
    sans-serif;
  scroll-behavior: smooth;
  background-color: rgb(0, 0, 0);
  margin: 0;
  cursor: url(/images/cursor2.png),
    text;
  /* background-color: rgba(0, 0, 0, 0.555);

    backdrop-filter: blur(20px); */
  /* background: url('https://i.pinimg.com/564x/18/1d/60/181d60c199a8d79765924f0243efc6b8.jpg'); */
  background-repeat: repeat-y;
  background-size: 100%;
  overflow-x: hidden;
}

/* ul{
  margin: 0;
  padding: 0;
} */
h1,
p,
h3,
h4 {
  margin: 0;
  padding: 0;
  color: white;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

a {
  color: white;
  text-decoration: none;
}

hr {
  border-top: dotted 4px rgba(255, 255, 255, 0.479);
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  margin-top: 30px;


}

.allcont {
  margin: 0px;
}

.navbar {
  background-color: transparent;
  padding: 1% 13.3%;
}

.navbar .brand {
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
}

.hero-container {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.555);

  backdrop-filter: blur(50px);
  margin: 0;
  padding: 1%;
}

.hero {
  display: flex;
  text-align: left;
  color: white;
  padding: 7% 7% 0;
}

.hero .main-title2 {
  /* font-family: 'Josefin Sans'; */
  font-family: 'Berkshire Swash',
    cursive;
  letter-spacing: 2px;
  margin: 0;
  font-size: 6rem;
  font-weight: 900;
  position: relative;
  display: flex;
}

.hero .main-title2:hover {
  transition: all ease-in-out 0.5s;
  background: -webkit-linear-gradient(rgb(255, 51, 0), rgb(255, 208, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animate {
  animation: rubberBand 1s;
}

.hero .main-title-hello {
  font-size: 5rem;
  position: relative;
  font-weight: 700;
  line-height: 53px;
  margin-bottom: 30px;
  display: inline-block;
  background: -webkit-linear-gradient(rgb(252, 18, 10), rgb(76, 0, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Josefin Sans',
    sans-serif;
  transition: all ease-in-out 2s;
  animation: shrinkyDown 1s;

}

.hero .main-title-hello:hover {
  animation: dribbbleDown 1s;
}

@keyframes shrinkyDown {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 180deg, 0);
    transform: perspective(400px) rotate3d(1, 0, 180deg, 0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -60deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -60deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 30deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 30deg);
    opacity: 1
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -15deg)
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px)
  }
}

@keyframes dribbbleDown {

  20%,
  53%,
  80%,
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }

  40%,
  43% {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0)
  }

  70% {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0)
  }

  90% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}

/*
Intrance ANimation
.b-1 {
  animation: rubberBand 1s;
}

.b-2 {
  animation: rubberBand 1s;
  animation-delay: 0.5s;
}

.b-4 {
  animation: rubberBand 1s;
    animation-delay: 1s;
}

.b-4 {
  animation: rubberBand 1s;
  animation-delay: 1.5s;
}

.b-5 {
  animation: rubberBand 1s;
  animation-delay: 2s;
}

.b-6 {
  animation: rubberBand 1s;
  animation-delay: 2.5s;
}
.b-7 {
  animation: rubberBand 1s;
  animation-delay: 3s;
} */

/* .blink-1 {
  animation: rubberBand 1s;
  animation-delay: 1.5s;
} */

.sec {
  padding: 0% 0% 0%;
  margin-top: 80px;
}

.about-me {
  display: block;
  padding: 5%;
  transition: all ease 0.3s;
  margin: 10px 8%;
  border: 3px solid rgb(153, 135, 255);
}

.about-me:hover {
  box-shadow: 10px 5px rgb(22, 27, 90);

}

.underline-start {
  border-bottom: 3px solid salmon;
}

.menu-items {
  float: right;
  position: relative;
}

.menu-items .menu-item {
  font-family: 'Berkshire Swash';
  color: white;
  margin: 0 10px;
  font-size: 1.7rem;
  font-weight: bolder;
  transform: rotate(7deg);
  transition: all ease-in-out 1s;
}

.menu-items .menu-item:hover {
  transform: scale(1.3);
  transform: rotate(0deg);
  margin-left: 10px;
  margin-right: 10px;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 208, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.notbug {
  background-color: rgb(61, 61, 61);
  width: 300px;
  padding: 1%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  animation: mymove 0.7s;
}

.subtitle {
  font-size: 0px;
  display: -webkit-box;
  animation: mymove 0.7s;
}

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  30% {
    -webkit-transform: scale3d(1.25, .75, 1);
    transform: scale3d(1.25, .75, 1)
  }

  40% {
    -webkit-transform: scale3d(.75, 1.25, 1);
    transform: scale3d(.75, 1.25, 1)
  }

  50% {
    -webkit-transform: scale3d(1.15, .85, 1);
    transform: scale3d(1.15, .85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1)
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1)
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transform: scale(1);
  }
}

.skilled:hover {
  transition: all ease-in-out 0.5s;
}

.animate-intro {
  animation: rubberBand 1s;
}

/* .blink-2 {
  animation: blink 1s infinite;
}
.blink-3 {
  animation: blink 1s infinite;
}
.blink-4 {
  animation: blink 1s infinite;
}
.blink-5 {
  animation: blink 1s infinite;
} */

@keyframes blink {
  from {
    transition: all ease-in-out 0.5s;
    font-size: 20px;
  }

  to {
    font-size: 70px;
  }
}

@keyframes mymove {
  from {
    bottom: -100px;
    opacity: 0.5;
  }

  to {
    bottom: 0px;
    opacity: 1;
  }
}

span.quote {}

.quote {
  font-size: 1rem;
  color: burlywood;
}

.mauto {
  margin: auto;
}

.inline-block {
  display: inline-block;
}

.skilled {
  font-family: 'Berkshire Swash';
  margin: 0;
  /* animation: rubberBand 1s; */
  font-size: 4.5rem;
  font-weight: 200;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 224, 222));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;

}

.developer {
  font-family: 'Josefin Sans',
    sans-serif;
  margin: 0;
  font-size: 4rem;
  font-weight: 400;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(175, 216, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.white {
  color: white;
}

.description {
  font-size: 2rem;
  font-family: Futur';

}

.cool {
  position: absolute;
  height: 290px;
  width: 290px;
  /* border-radius: 50%; */
  transition: all ease 2s;
  /* background-color: rgb(255, 0, 0); */
  /* background: url('https://www.pngmart.com/files/15/Red-Heart-Vector-PNG-Pic.png'); */
  /* border: 2px solid rgb(255, 255, 255); */
  animation: sun 2s infinite, pop 20s;
}

@keyframes pop {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes sun {
  25% {
    transition: all ease 1s;
    transform: scale(1.2);
  }

  50% {
    transition: all ease 1s;
    transform: scale(1);
  }

  75% {
    transition: all ease 1s;
    transform: scale(1.2);
  }

  100% {
    transition: all ease 1s;
    transform: scale(1);
  }

  /* 15%{
    transform: scale(1.1);
  }
  20%{
    transform: scale(1.1);
  }

  25%{
    transform: scale(1.1);
  }

  30% {
    transform: scale(1.16);
  }

  35% {
    transform: scale(1.16);
  }

  40% {
    transform: scale(1.16);
  }

  45% {
    transform: scale(1.16);
  }

  50% {
    transform: scale(1.16);
  } */
}

.mt10 {
  margin-top: 10px;
}

.article {
  font-size: 1.1rem;
  line-height: 25px;
}

.down {
  height: 80px;
}

.thefont {
  font-family: 'Berkshire Swash';

}

#cont1 {
  animation: intrance 2s;
}

@keyframes intrance {
  from {
    top: 100px;
  }

  to {
    top: 0px;
  }
}

.showcase-pic {
  height: 50px;
}

.preview-pic {
  height: 200px;
  width: 100%;
}

.card {
  height: 240px;
  margin: 7px;
  border-radius: 10px;
  padding: 10px;
  transition: all linear 0.3s;
  background-color: rgba(109, 109, 109, 0.288);
}

.card:hover {
  box-shadow: 5px 10px white;

}

.progress {
  position: absolute;
  background-color: rgba(179, 179, 179, 0.171);
  z-index: -1;
  height: 10px;
  width: 50%;
  border-radius: 50px;
  border: 1px solid rgb(177, 177, 177);
}

.pAmount {
  background-color: yellow;
  height: 10px;
  border-radius: 50px;
}

#js {
  width: 55%;
}

#html {
  width: 65%;
}

#css {
  width: 59%;
}

#nodejs {
  width: 50%;
}

#reactjs {
  width: 2%;
}

/*.first{*/
/* height: 100px;*/
/* width: 100px;*/
/* position: absolute;*/
/* background-color: red;*/
/* z-index: -1;*/
/*}*/

/*.second{*/
/* height: 100px;*/
/* width: 100px;*/
/* background-color: yellow;*/
/*}*/

.project-head {}
.project{
  background: linear-gradient(45deg, rgba(0, 90, 97, 0), rgb(255, 255, 255));
  animation: project 5s infinite;
}

@keyframes project {
  100%, 0%{
    background-color: rgb(133, 20, 0);
  } 30%{
    background-color: rgb(0, 71, 56);
  } 60%{
    background-color: rgb(255, 0, 128);
  } 90%{
    background-color: rgb(0, 83, 131);
  }
}
.email-box {
  height: 50px;
  width: 150%;
  font-family: 'Josefin Sans';

  font-size: 1.3rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 2px rgb(94, 105, 255);
  border: none;
  color: rgb(78, 78, 78);
  transition: all 0.2s linear;
}

.email-box:active {
  border: none;
}

.email-box:focus {
  box-shadow: 10px 5px rgb(0, 4, 255);
}

.message-box {
  font-size: 1.3rem;
  font-family: 'Josefin Sans';
  resize: vertical;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 2px rgb(94, 105, 255);
  color: rgb(56, 56, 56);
  width: 150%;
  margin-top: 30px;
  transition: all 0.2s linear;
}

.message-box:focus {
  box-shadow: 10px 5px rgb(0, 4, 255);
}

.message-box::content {
  background-color: white;
}

.subject-box {

  height: 50px;
  width: 150%;
  font-family: 'Josefin Sans';
  font-size: 1.3rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 2px rgb(94, 105, 255);
  border: none;
  margin-top: 20px;
  color: rgb(78, 78, 78);
  transition: all 0.2s linear;
}

.subject-box:focus {
  box-shadow: 10px 5px rgb(0, 4, 255);
}

.send {
  margin-top: 20px;
  width: 150%;
  border: none;
  height: 50px;
  color: white;
  font-size: 1.5rem;
  background: -webkit-linear-gradient(rgb(255, 1, 1), rgb(0, 38, 255));
}

.contacts {
  text-align: right;
  width: 50%;
}

.last {
  font-family: 'Great Vibes',
    cursive;
  font-size: 1.6rem;
}


/* Responsive */


@media (max-width: 950px) {
  .hero .main-title2 {
    /* font-family: 'Josefin Sans'; */
    font-family: 'Berkshire Swash',
      cursive;
    letter-spacing: 2px;
    margin: 0;
    font-size: 4rem;
    font-weight: 900;
    position: relative;
    display: flex;
  }

  .skilled {

    /* animation: rubberBand 1s; */
    font-size: 2.5rem;


  }

  .developer {
    font-size: 2rem;


  }

  .hero .main-title-hello {
    font-size: 3rem;

  }

  .menu-items .menu-item {
    font-size: 1.3rem;

  }

  .email-box {
    font-size: 1.3rem;
    width: 100%;

  }

  .message-box {
    font-size: 1.3rem;
    width: 100%;
  }

  .subject-box {

    height: 50px;
    width: 100%;
    font-family: 'Josefin Sans';
    font-size: 1.3rem;

    margin-top: 20px;

  }

  .send {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 1.5rem;
  }
}


@media (max-width: 550px) {
  .hero .main-title2 {
    /* font-family: 'Josefin Sans'; */
    font-family: 'Berkshire Swash',
      cursive;
    letter-spacing: 2px;
    margin: 0;
    font-size: 3rem;
    font-weight: 900;
    position: relative;
    display: flex;
  }

  .skilled {

    /* animation: rubberBand 1s; */
    font-size: 1.9rem;


  }

  .developer {
    font-size: 1.7rem;
    margin-bottom: 0;

  }

  .hero .main-title-hello {
    font-size: 1.5rem;

  }

  .menu-items .menu-item {
    font-size: 1rem;

  }

  .email-box {
    font-size: 1rem;
    width: 100%;

  }

  .message-box {
    font-size: 1rem;
    width: 100%;
  }

  .subject-box {

    height: 50px;
    width: 100%;
    font-family: 'Josefin Sans';
    font-size: 1rem;

    margin-top: 20px;

  }

  .send {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  .hero .main-title2 {
    /* font-family: 'Josefin Sans'; */
    font-family: 'Berkshire Swash',
      cursive;
    letter-spacing: 2px;
    margin: 0;
    font-size: 2.7rem;
    font-weight: 900;
    position: relative;
    display: flex;
  }

  .skilled {

    /* animation: rubberBand 1s; */
    font-size: 1.7rem;


  }

  .developer {
    font-size: 1.3rem;
    margin-bottom: 0;

  }

  .hero .main-title-hello {
    font-size: 1.3rem;
    margin-bottom: 0;

  }

  .menu-items {
    width: 100%;
  }

  .menu-items .menu-item {
    font-size: 1.3rem;
    transform: rotate(0deg);

  }

  .email-box {
    font-size: 0.7rem;
    width: 100%;

  }

  .message-box {
    font-size: 1rem;
    width: 100%;
  }

  .subject-box {

    height: 50px;
    width: 100%;
    font-family: 'Josefin Sans';
    font-size: 1rem;

    margin-top: 20px;

  }

  .send {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 1.5rem;
  }

  .allcont {
    margin: 0;
  }

  body {
    margin: 0;
  }

  .article {
    font-size: 0.9rem;
  }
}

.navbar {
  padding: 1% 5.3%;
}
